<div class="animated fadeIn">
  <div class="row">
    <div class="col-sm-6 col-lg-6">
      <div class="social-box facebook">
        <i class="fa fa-users"></i>
        <div class="chart-wrapper">
          <canvas baseChart class="chart"
                  [datasets]="socialChartData1"
                  [labels]="socialChartLabels"
                  [options]="socialChartOptions"
                  [colors]="socialChartColours"
                  [legend]="socialChartLegend"
                  [chartType]="socialChartType"
                  (chartHover)="chartHovered($event)"
                  (chartClick)="chartClicked($event)"></canvas>
        </div>
        <ul>
          <li>
            <strong>{{countEmployes}}</strong>
            <span>Employés</span>
          </li>
          <li>
            <strong>{{countClients}}</strong>
            <span>Clients</span>
          </li>
        </ul>
      </div>
      <!--/.social-box-->
    </div><!--/.col-->
    <div class="col-sm-6 col-lg-6">
      <div class="social-box twitter">
        <i class="fa fa-shopping-bag"></i>
        <div class="chart-wrapper">
          <canvas baseChart class="chart"
                  [datasets]="socialChartData2"
                  [labels]="socialChartLabels"
                  [options]="socialChartOptions"
                  [colors]="socialChartColours"
                  [legend]="socialChartLegend"
                  [chartType]="socialChartType"
                  (chartHover)="chartHovered($event)"
                  (chartClick)="chartClicked($event)"></canvas>
        </div>
        <ul>
          <li>
            <strong>{{countSendColis}}</strong>
            <span>Colis Envoyés</span>
          </li>
          <li>
            <strong>{{countReceiveColis}}</strong>
            <span>Colis Reçus</span>
          </li>
        </ul>
      </div>
      <!--/.social-box-->
    </div><!--/.col-->
  </div>
</div>
