.card {
  margin-bottom: 0 !important;
}
.card{
  border-bottom: 0 !important;
}
.card:last-child{
  border-bottom: 1px solid #c2cfd6 !important;
}
.card-header{
  font-weight: bold;
}
.qrCode{
  margin-top: -15px !important;
  background: transparent !important;
}
.new{
  color: #20a8d8;
  font-weight: 600;
}
.update{
  color: #ffc107;
  font-weight: 600;
}
.show{
  color: #000000;
  font-weight: 600;
}
